<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Introduction</h2>
        <p>
This module add SMS features to Odoo.<br/>
You can send SMS from Odoo, on a manual basis from the partner form, but also some bulk SMS using action from selected records in a list view. SMS message can be personnalized using Templates.
		</p>
		<p>
You can use those features to automate some SMS notification from Odoo; Order confirmation, order shipped, new issue created, payment followup, meeting confirmation/reminder, ... whatever you want.<br/>
In the next version of this app, you'll also be able to manage SMS-MO, so generate some Odoo objects triggered by an SMS received by your Odoo Server
		</p>

    </div>
</section>

<section class="oe_container oe_dark">
	    <div class="oe_row">
        <h2 class="oe_slogan">Send SMS</h2>
            <p class="oe_mt32">
You can send a SMS to a partner or to a list of partner. 

            </p>
            
        <div class="oe_row_img oe_centered oe_mt32">
            <img class="oe_picture oe_screenshot" src="sms_client_3.png">
        </div>
        
                    <p class="oe_mt32">
You can add a template to your SMS. <br/>

So you can send a SMS to a list of partner with template. 

            </p>
            
        <div class="oe_row_img oe_centered oe_mt32">
            <img class="oe_picture oe_screenshot" src="sms_mulitple_2.png">
        </div>
    </div>
</section>

<section class='oe_container oe_dark'>
    <div class="oe_row oe_spaced">
        <div class="oe_slogan">
            <h2 class="oe_slogan">Help and Support</h2>
        </div>
        <p>
        Need some assistance ? Looking for more features or some customization ? Don't hesitate to contact our team.
        </p>
        <div class="oe_slogan oe_spaced">
        </br>
			<p><a target="_blank" href="http://www.bhc.be/en/contact"><img src="contact_us.png" /></a>
			</p>
        </div>
    </div>
</section>