<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Automatic Developer Mode</h2>
            <h3 class="oe_slogan">Developers, Keep up your smile!</h3>
            <h4 class="oe_slogan">Cybrosys Technologies , www.cybrosys.com</h4>
        </div>

        <div class="oe_row oe_spaced">
        <h4><p style="margin-left: 41px;"> Developers, Keep Smiling for the below reasons:</p></h4>
        <ul>
           <li style="list-style:none !important;"><span style="color:green;"> &#9786;</span>&nbsp;&nbsp; Automatically Trigger Developer Mode.</li>
            <li style="list-style:none !important;"><span style="color:green;"> &#9786;</span>&nbsp;&nbsp; Showing Running DB On Left Top.</li>
            <li style="list-style:none !important;"><span style="color:green;"> &#9786;</span>&nbsp;&nbsp; Update Modules Easily.</li>
        </ul>
        </div>

        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="dev.jpg">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
                <p>This module makes you free from activating developer mode operations repeatedly.
        When you login, It will trigger the DEVELOPER MODE Automatically.</p>
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <p class="oe_mt32">
                <p>As shown here, Simply automate the developer mode. It help developer in several perspective. NOTE That, you have to re-login after this module installation</p>
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="im_login.jpg">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <p class="oe_mt32">
                <p>The developer can identify running DB easily.</p>
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="working_db.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <p class="oe_mt32">
                <p>Easily update any module without opening the module form</p>
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="apps_view.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <h2 class="oe_slogan" style="margin-top:20px;" >Need Any Help?</h2>
    <div class="oe_slogan" style="margin-top:10px !important;">
        <a  class="btn btn-primary btn-lg mt8"
            style="color: #FFFFFF !important;" href="http://www.cybrosys.com"><i
            class="fa fa-envelope"></i> Email </a> <a
            class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;"
            href="http://www.cybrosys.com/contact/"><i
            class="fa fa-phone"></i> Contact Us </a> <a
            class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;"
            href="http://www.cybrosys.com/odoo-customization-and-installation/"><i
            class="fa fa-check-square"></i> Request Customization </a>
    </div>
            <img src="cybro_logo.png" style="width: 190px; margin-bottom: 20px;" class="center-block">
</section>







