<section class="oe_container oe_dark">
    <div class="oe_row oe_padded">
        <h2 class="oe_slogan">Set Meeting for Channel.</h2>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_padded">
        <div class="oe_span12">
            <h3 class="oe_slogan">Select Channel(Group) Here Which is Create in Discuss Menu.</h3>
            <div class="oe_row_img oe_centered">
            <img class="oe_picture oe_screenshot" src="1.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_padded">
        <div class="oe_span12">
            <h3 class="oe_slogan">Onchange of Channel, All the Attendees AutoFill in the Attendees Field.</h3>
            <img class="oe_picture oe_screenshot" src="2.png">
        </div>
    </div>
</section>  
<section class="oe_container oe_dark">
    <div class="oe_row oe_padded">
        <div class="oe_span12">
            <h3 class="oe_slogan">From that way, You can Set Meeting for All Attendees which is in Channel(Group).</h3>
        </div>
    </div>
</section>