<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">LifeLine Progress Bar for Task</h2>
        <h3 class="oe_slogan">LifeLine is calculated based on live time and deadline time.</h3>
    </div>
    <div class="row oe_row oe_spaced">
        <div class="col-md-6">
                &#9728; User Defined Progress Bar Colour Configuration.<br>
                &#9728; Task Lifeline Bar based on Deadline.<br>
                &#9728; Automatic Colour Change of Lifeline Bar.<br>
                &#9728; Default Colour for Forbidden.<br>
        </div>
        <div class="col-md-6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot center-block" src="disply.png" style="margin-top: 0px !important;">
            </div>
        </div>
    </div>

</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <p class='oe_mt32'>
            &#x261B; Default Form/Tree view of Task
        </p>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <p><center>Form View</center></p>
                <img src="form_view.png">
            </div>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <p><center>Tree View</center></p>
                <img src="tree_view.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_padded">
        <p class='oe_mt32'>
            &#x261B;User Can Define the Color of Progressbar for Different Percentage Ranges.
        </p>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <p><center>Form View</center></p>
                <img class="oe_picture oe_screenshot" src="set_range_form_view.png">
            </div>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <p><center>Tree View</center></p>
                <img class="oe_picture oe_screenshot" src="set_range_tree_view.png">
            </div>
        </div>
    </div>
    <div class="oe_span6">
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_padded">
        <p class='oe_mt32'>
            &#x261B;Color of progressbar based on different ranges.
        </p>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="set_green.png">
            </div>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="set_range_green.png">
            </div>
        </div>

    </div>
</section>
<section class="oe_container ">
    <div class="oe_row oe_padded">
        <p class='oe_mt32'>
            &#x261B;Color of progressbar based on different ranges.
        </p>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="set_yellow.png">
            </div>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="set_range_yellow.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_padded">
        <p class='oe_mt32'>
            &#x261B;Color of progressbar based on different ranges.
        </p>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="set_red.png">
            </div>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="set_range_red.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <h2 class="oe_slogan" style="margin-top:20px;" >Need Any Help??</h2>
    <div class="oe_slogan" style="margin-top:10px !important;">
        <a  class="btn btn-primary btn-lg mt8"
            style="color: #FFFFFF !important;" href="http://www.cybrosys.com"><i
            class="fa fa-envelope"></i> Email </a> <a
            class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;"
            href="http://www.cybrosys.com/contact/"><i
            class="fa fa-phone"></i> Contact Us </a> <a
            class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;"
            href="http://www.cybrosys.com/odoo-customization-and-installation/"><i
            class="fa fa-check-square"></i> Request Customization </a>
    </div>
            <img src="cybro_logo.png" style="width: 190px; margin-bottom: 20px;" class="center-block">
</section>
