<section class="oe_container">
    <div class="oe_spaced">
        <h2 class="oe_slogan">Sub Tasks in Project</h2>
        <h3 class="oe_slogan">This Module Enables Sub-task feature in Project Module.</h3>
        <h4 class="oe_slogan" style="font-size: 23px;">Author : Cybrosys Techno Solutions , www.cybrosys.com</h4>
    </div>
    <div class="oe_spaced" style="padding-left:65px;">
        <h4>Features:</h4>
        <div>
            <span style="color:green;"> &#9745; </span> Sub-task Feature for Project.<br/>
            <span style="color:green;"> &#9745; </span> Sub-Task Lists Under Task.<br/>
            <span style="color:green;"> &#9745; </span> Sub-Task Count in Task Kanban View.<br/>
            <span style="color:green;"> &#9745; </span> Sub-Task Stages in Configuration.<br/>
            <span style="color:green;"> &#9745; </span> Sub-Task Analysis Under Report.<br/>
            <span style="color:green;"> &#9745; </span> Deadline Validation for Sub-Task.<br/>
            <span style="color:green;"> &#9745; </span> Stage Validation for Sub-Task.<br/>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_picture">
            <h3 class="oe_slogan">Overview</h3>
            <p class="oe_mt32">
            Currently Odoo has no sub-task feature in project. This module brings "SUB-TASK" forms and its configuration for projects with configured stages.
            User can also analyse the sub tasks under the project reporting menu dynamically.
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">Sub Task Configuration</h3>
        <div class="" style="text-align: center">
            <p>
                <h4>Project -> Configuration -> Sub Task Stages</h4>
            <p>
        </div>
        <div class="oe_span12">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" style="border:10px solid white;" src="task2.png">
            </div>
            <span class="center-block" style="text-align: center;">&#9755; Please tick marked fields to identify your final stage and cancel stage.</span>
        </div>
        <br>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <div class="oe_row_img oe_centered">
                <img style="border:10px solid white;" class="oe_picture oe_screenshot" src="task3.png">
            </div>
            <span class="center-block" style="text-align: center;">&#9755; If you want to create sub tasks for your project please select the option Sub Tasks.</span>
        </div>
        <br>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">Sub Task Creation</h3>
        <div class="" style="text-align: center">
            <p>
                <h4>You can create sub tasks via 2 ways.</h4>
            <p>
        </div>
        <div class="" style="text-align: center">
            <div class="oe_demo oe_picture oe_screenshot">
                <img style="border:10px solid white;" src="sub_task.png">
            </div>
            <span class="center-block" style="text-align: center;">&#9755; Create sub tasks directly from Menu 'Sub Task'.</span>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_demo oe_picture oe_screenshot">
            <img style="border:10px solid white;" src="task.png">
        </div>
        <span class="center-block" style="text-align: center;">&#9755; Create sub tasks from task itself</span>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">Sub-Task Count in Task Kanban View</h3>
        <div class="oe_demo oe_picture oe_screenshot">
            <img style="border:10px solid white;" src="count.png">
        </div>
        <span class="center-block" style="text-align: center;">&#9755; You can see the count of sub task on each task's kanaban view</span>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_spaced">
       <h3 class="oe_slogan"> Sub-Task Analysis</h3>
        <div class="oe_span12" align="center">
                <img style="border:10px solid white;width: 47%; height: 450px;" class="oe_picture oe_screenshot" src="task4.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">Stage Validation for Sub-Task</h3>
        <div class="oe_demo oe_picture oe_screenshot">
            <img style="border:10px solid white;" src="task5.png">
        </div>
        <span class="center-block" style="text-align: center;">&#9755; You cant move your task into final stage until all sub tasks are reach in final stage</span>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">Automatically Cancel/kill the sub-task by moving parent task to 'cancel'</h3>
        <div class="oe_demo oe_picture oe_screenshot">
            <img style="border:10px solid white;" src="task6.png">
        </div>
        <span class="center-block" style="text-align: center;">&#9755; When you move your task into cancel stage then all sub tasks also will go to cancel stage</span>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">Deadline Validation for Sub-Task</h3>
        <div class="oe_demo oe_picture oe_screenshot">
            <img style="border:10px solid white; height: 450px;" src="11.png">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
		<h2 class="oe_slogan" style="margin-top:20px;" >Need Any Help?</h2>
		<div class="oe_slogan" style="margin-top:10px !important;">
            <div>
				<a  class="btn btn-primary btn-lg mt8"
				style="color: #FFFFFF !important;border-radius: 0;" href="http://www.cybrosys.com"><i
				class="fa fa-envelope"></i> Email </a> <a
				class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;border-radius: 0;"
				href="http://www.cybrosys.com/contact/"><i
				class="fa fa-phone"></i> Contact Us </a> <a
				class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;border-radius: 0;"
				href="http://www.cybrosys.com/odoo-customization-and-installation/"><i
				class="fa fa-check-square"></i> Request Customization </a>
	        </div>
            <br>
		    <img src="cybro_logo.png" style="width: 190px; margin-bottom: 20px;" class="center-block">
            <div>
			  <a href="https://twitter.com/cybrosys" target="_blank"><i class="fa fa-2x fa-twitter" style="color:white;background: #00a0d1;width:35px;"></i></a></td>
              <a href="https://www.linkedin.com/company/cybrosys-technologies-pvt-ltd" target="_blank"><i class="fa fa-2x fa-linkedin" style="color:white;background: #31a3d6;width:35px;padding-left: 3px;"></i></a></td>
              <a href="https://www.facebook.com/cybrosystechnologies" target="_blank"><i class="fa fa-2x fa-facebook" style="color:white;background: #3b5998;width:35px;padding-left: 8px;"></i></a></td>
              <a href="https://plus.google.com/106641282743045431892/about" target="_blank"><i class="fa fa-2x fa-google-plus" style="color:white;background: #c53c2c;width:35px;padding-left: 3px;"></i></a></td>
              <a href="https://in.pinterest.com/cybrosys" target="_blank"><i class="fa fa-2x fa-pinterest" style="color:white;background: #ac0f18;width:35px;padding-left: 3px;"></i></a></td>
            </div>
		</div>
</section>



