<div style="margin-left:100px;margin-right:100px;">
<h2>Description</h2>
Conditional questions and file uploads<br/>
<br/>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Conditional Questions</h2>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="1.jpg" alt="Conditional Survey Questions">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
Setup questions which only appear when a certain option is selected from a previous question.<br/>
<br/>
<b>Instructions</b><br/>
1.  Go to any survey question<br/>
2.  Go into the conditional tab<br/>
3.  Select a 'Multiple choice: only one answer' question from your survey<br/>
4.  Select an option from that question<br/>
5.  When a person is doing the survey and they select that option the conditional question will appear<br/>
6.  e.g. person selects 'yes' to question 'do you like cars?' and the condition question 'what type of car?' appears<br/>
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">File uploads</h2>
        <div class="oe_span6">
            <p class="oe_mt32">
Users can upload files during a survey.<br/>
<br/>
<b>Instructions</b><br/>
1.  Add a new question to your survey<br/>
2.  Select the new binary question type<br/>
3.	When a user fills out the survey they will get to attach a file for that question<br>
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">

<img class="oe_picture oe_screenshot" src="2.jpg" alt="Survey File Upload">

            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Survey Lead Funnel</h2>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="3.jpg" alt="Survey Lead Funnel">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
At the end of a survey the user is able to enter thier name and email and they will become a lead with the newly completed lead associated to them.<br/>
<br/>
<b>Instructions</b><br/>
1.  Go to a survey<br/>
2.  Go into the options tab<br/>
3.  Tick the lead survey checkbox<br/>
4.  After the user is finished with the surbvey they will be presented with a form.<br/>
5.  When the user fills in the form they will become a lead and the lead conversion process can begin<br/>
6.  You can view the lead that did the survey by going into an individual survey answer<br/>
            </p>
        </div>
    </div>
</section>

<br/>
Find a bug? feature idea? send an email to <a href="mailto:support@vuente.com">support@vuente.com</a><br/>
</div>