<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#A24689;">Salary/Time Compensation</h2>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
    
        <h2 class="oe_slogan" style="color:#A24689;">How to configure ?</h2>
        <h3 class="oe_slogan">
            Configure your working schedule
        </h3>
        <div class="row">
            <div class="oe_span12 text-center oe_mt32">
                <img class="oe_screenshot" src="time_comp.png">
            </div>
        </div>
        <p class="oe_mt32">
            In this case we configured 10% of time and salary compensation for Monday between 8:00  and 17:00.
        </p>
        <h3 class="oe_slogan">
            Compute your attendances in the employee's payslip
        </h3>
        <div class="row">
            <div class="oe_span12 text-center oe_mt32">
                <img class="oe_screenshot" src="compute_attendances.png">
            </div>
        </div>
        <p class="oe_mt32">
            Go to the computation tab.
        </p>
        <h3 class="oe_slogan">
            Look the result and make modifications if you need.
        </h3>
        <div class="row">
            <div class="oe_span12 text-center oe_mt32">
                <img class="oe_screenshot" src="result.png">
            </div>
        </div>
        <p class="oe_mt32">
            In this case we have 32 minutes of time compensation and no salary compensation.
        </p>
</section>

<section class="oe_container oe_separator">
</section>